$color-green: #96c950;
$color-teal: #0B9375;
$color-contrast: #E46211;
$color-light-green: #D5F3AC;
$color-light-teal: #4AB099;
$color-txt: #3E3F3E;
$color-background-light: #F3F6F5;
$color-borders: #BABCBA;
