$color-green: #96c950;
$color-teal: #0B9375;
$color-contrast: #E46211;
$color-light-green: mix(white, $color-green, 50%);
$color-light-teal: mix(white, $color-teal, 50%);
$color-txt: #3E3F3E;
$color-background-light: #F3F6F5;
$color-borders: #BABCBA;
$color-light-contrast: scale-color($color-contrast, $lightness: 25%);
$color-contrast-mix: mix($color-green, $color-contrast, 25%);
