body, html {
  height: 100%;
}

body {
  background-color: $color-light-grey;

  @include media ($tablet-landscape) {
    background-color: $color-txt;
  }

  @include media ($desktop) {
    background-color: $color-txt;
  }
}
