body, html {
  height: 100%;
}

body {
  background-color: $color-light-grey;
}

.page {
    padding-top: 80px; // position content below the navbar
    min-height: 80%; // make sure footer is at bottom
}
