$modular-scale-base: 14px;
$heading-stack: "Lato", "Arial", sans-serif;
$body-stack: "Merriweather", "Georgia", serif;

body, p {
  font-family: $body-stack;
  color: $color-txt;
  font-size: modular-scale(1, $modular-scale-base*0.7);
  line-height: 1.7;

  @include media($lg-mobile) {
    font-size: modular-scale(1, $modular-scale-base*0.9);
  }

  @include media($tablet-portrait) {
    font-size: modular-scale(1, $modular-scale-base*0.9);
  }

  @include media ($tablet-landscape) {
    font-size: modular-scale(1, $modular-scale-base*0.9);
  }

  @include media ($desktop) {
    font-size: modular-scale(1);
  }


}

h1, h2, h3, h4, h5 {
  font-family: $heading-stack;
  font-weight: bold;
  line-height: 1.3em;
}

h1 {
  font-size: modular-scale(5, $modular-scale-base*0.7);

  @include media($lg-mobile) {
    font-size: modular-scale(5, $modular-scale-base*0.9);
  }

  @include media($tablet-portrait) {
    font-size: modular-scale(5, $modular-scale-base*0.9);
  }

  @include media ($tablet-landscape) {
    font-size: modular-scale(5, $modular-scale-base*0.9);
  }

  @include media ($desktop) {
    font-size: modular-scale(5);
  }

}

h2 {
  font-size: modular-scale(4, $modular-scale-base*0.7);

  @include media($lg-mobile) {
    font-size: modular-scale(4, $modular-scale-base*0.9);
  }

  @include media($tablet-portrait) {
    font-size: modular-scale(4, $modular-scale-base*0.9);
  }

  @include media ($tablet-landscape) {
    font-size: modular-scale(4, $modular-scale-base*0.9);
  }

  @include media ($desktop) {
    font-size: modular-scale(4);
  }

}

h3 {
  font-size: modular-scale(3, $modular-scale-base*0.7);

  @include media($lg-mobile) {
    font-size: modular-scale(3, $modular-scale-base*0.9);
  }

  @include media($tablet-portrait) {
    font-size: modular-scale(3, $modular-scale-base*0.9);
  }

  @include media ($tablet-landscape) {
    font-size: modular-scale(3, $modular-scale-base*0.9);
  }

  @include media ($desktop) {
    font-size: modular-scale(3);
  }

}

h4 {
  font-size: modular-scale(2, $modular-scale-base*0.7);

  @include media($lg-mobile) {
    font-size: modular-scale(2, $modular-scale-base*0.9);
  }

  @include media($tablet-portrait) {
    font-size: modular-scale(2, $modular-scale-base*0.9);
  }

  @include media ($tablet-landscape) {
    font-size: modular-scale(2, $modular-scale-base*0.9);
  }

  @include media ($desktop) {
    font-size: modular-scale(2);
  }

}

h5 {
  font-size: modular-scale(1, 0.7em);

  @include media($lg-mobile) {
    font-size: modular-scale(1, 0.9em);
  }

  @include media($tablet-portrait) {
    font-size: modular-scale(1, 0.9em);
  }

  @include media ($tablet-landscape) {
    font-size: modular-scale(1, 0.9em);
  }

  @include media ($desktop) {
    font-size: modular-scale(1);
  }

}

a {
    text-decoration: none;
    color: $color-teal;
}

a:hover {
    color: $color-green;
}
