$modular-scale-base: 1em;
$heading-stack: "Lato", "Arial", sans-serif;
$body-stack: "Merriweather", "Georgia", serif;

body {
  font-family: $body-stack;
  font-size: modular-scale(1, 0.7em);

  @include media($lg-mobile) {
    font-size: modular-scale(1, 0.9em);
  }

  @include media($tablet-portrait) {
    font-size: modular-scale(1, 0.9em);
  }

  @include media ($tablet-landscape) {
    font-size: modular-scale(1, 0.9em);
  }

  @include media ($desktop) {
    font-size: modular-scale(1);
  }

  line-height: 1.3;
}

h1, h2, h3, h4, h5 {
  font-family: $heading-stack;
  line-height: 1.3;
}

h1 {
  font-size: modular-scale(5, 0.7em);

  @include media($lg-mobile) {
    font-size: modular-scale(5, 0.9em);
  }

  @include media($tablet-portrait) {
    font-size: modular-scale(5, 0.9em);
  }

  @include media ($tablet-landscape) {
    font-size: modular-scale(5, 0.9em);
  }

  @include media ($desktop) {
    font-size: modular-scale(5);
  }

}

h2 {
  font-size: modular-scale(4, 0.7em);

  @include media($lg-mobile) {
    font-size: modular-scale(4, 0.9em);
  }

  @include media($tablet-portrait) {
    font-size: modular-scale(4, 0.9em);
  }

  @include media ($tablet-landscape) {
    font-size: modular-scale(4, 0.9em);
  }

  @include media ($desktop) {
    font-size: modular-scale(4);
  }

}

h3 {
  font-size: modular-scale(3, 0.7em);

  @include media($lg-mobile) {
    font-size: modular-scale(3, 0.9em);
  }

  @include media($tablet-portrait) {
    font-size: modular-scale(3, 0.9em);
  }

  @include media ($tablet-landscape) {
    font-size: modular-scale(3, 0.9em);
  }

  @include media ($desktop) {
    font-size: modular-scale(3);
  }

}

h4 {
  font-size: modular-scale(2, 0.7em);

  @include media($lg-mobile) {
    font-size: modular-scale(2, 0.9em);
  }

  @include media($tablet-portrait) {
    font-size: modular-scale(2, 0.9em);
  }

  @include media ($tablet-landscape) {
    font-size: modular-scale(2, 0.9em);
  }

  @include media ($desktop) {
    font-size: modular-scale(2);
  }

}

h5 {
  font-size: modular-scale(1, 0.7em);

  @include media($lg-mobile) {
    font-size: modular-scale(1, 0.9em);
  }

  @include media($tablet-portrait) {
    font-size: modular-scale(1, 0.9em);
  }

  @include media ($tablet-landscape) {
    font-size: modular-scale(1, 0.9em);
  }

  @include media ($desktop) {
    font-size: modular-scale(1);
  }

}
