
<footer class="footer">

    <div class="footer__sections">

        <section>
            <ul class="footer__nav">
                <li><a href="/">Home</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/about">About</a></li>

            </ul><!-- footer__nav -->
        </section>

        <section>
            <ul class="footer__social">
                <li>
                    <a href="https://twitter.com/skillsync">
                        <svg class="icon icon-twitter"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-twitter"></use></svg>
                    </a>
                </li>
                <li>
                    <a href="mailto:support@skillsync.io">
                        <svg class="icon icon-mail"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-mail"></use></svg>
                    </a>
                </li>
            </ul>
            <div>
                <p class="footer__copyright">
                    <!-- img src="/images/ohio.png" class="footer__ohio" / -->
                    © 2016 SkillSync
                    <br />
                    Dayton, Ohio USA
                </p>
            </div>
        </section>

        <section>
            <a class="footer__logo" href="/"><img src="/images/logo-128-text.png" alt="SkillSync"/></a>
        </section>

    </div><!-- footer__sections -->



</footer>

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-71189002-1', 'auto'); ga('send', 'pageview');
</script>
