
.about {

    margin: 0 auto;

    max-width: 1024px;
    width: 95%;

    @include media($tablet-portrait) {
        width: 80%;
    }
    @include media ($tablet-landscape) {
        width: 80%;
    }
    @include media ($desktop) {
        width: 80%;
    }
}

.about__headshot {
    border: 1px solid $color-light;
    //border-radius: 50%;
    box-shadow: 0 0 3px $color-txt;
    height: 200px;
    width: 200px;
}

.about__people {
    padding-bottom: 1em;

    h2 {
        margin-bottom: 0.5em;
    }
}

.about__person {
    text-align: left;
    margin: 0 auto 3em auto;
    width: 90%;
    display: block;

    h3 {
        margin-bottom: 0.25em;
        line-height: 1em;
    }

    @include media($tablet-portrait) {
        height: 310px;
    }

    @include media($tablet-landscape) {
        height: 250px;
    }

    @include media($desktop) {
        height: 250px;
    }
}

.about__person-email {

    svg {
        height: 20px;
        width: 20px;
        float: left;
        margin: 0.1em 0.25em;
        fill: $color-teal;
    }

    @include media($lg-mobile) {
        p {
            font-size: 0.9em;
        }
    }

    @include media($tablet-portrait) {
        p {
            font-size: 0.8em;
        }
    }

    @include media($tablet-landscape) {
        p {
            font-size: 0.8em;
        }
    }

    @include media($desktop) {
        p {
            font-size: 0.8em;
        }
    }

}

.about__person-pic {
    width: 200px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1.5em;

    @include media($tablet-portrait) {
        float: left;
        margin-right: 2em;
        margin-bottom: 0px;
    }

    @include media($tablet-landscape) {
        float: left;
        margin-right: 2em;
        margin-bottom: 0px;
    }

    @include media($desktop) {
        float: left;
        margin-right: 2em;
        margin-bottom: 0px;
    }

}

.about__statement {
    margin-top: 30px;
    margin-bottom: 30px;

    p {
        font-size: modular-scale(2, $modular-scale-base*0.7);
        width: 90%;
        margin-right: auto;
        margin-left: auto;
    }

    h2 {
        margin: 0.5em auto;
    }

    @include media($tablet-portrait) {
        p {
            font-size: modular-scale(2);
        }
    }

    @include media($tablet-landscape) {
        p {
            font-size: modular-scale(2);
        }
    }

    @include media($desktop) {
        p {
            font-size: modular-scale(2);
        }
    }
}
