
.blog {
    padding: 80px 1.0em 2.0em 1.0em;
    margin-right: auto;
    margin-left: auto;

    @include outer-container(90%);

    h2 {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }

    h3 {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }

    hr {
        border: 0;
        height: 1px;
        background: $color-light;
    }

    p {
        padding-left: 0.5em;
        padding-bottom: 1.0em;
    }
}

.blog__date {
    display: none;
    font-style: italic;
}

.blog__posts {
    max-width: 940px;
    margin-right: auto;
    margin-left: auto;

    p {
        font-size: modular-scale(1, $modular-scale-base*0.8);
    }

    li {
        @include span-columns(6);
        @include omega(2n);
    }
}

.first__post {
    max-width: 740px;
    margin-left: auto;
    margin-right: auto;
}
