$logo-height: 50px;

.logo {


    .logoImg {
        height: $logo-height;
        position: absolute;
        top: 0.5em;
        left: 0.75em;
        z-index: 2;
    }

    }

body {
  background-color: $color-light-grey;

  @include media ($tablet-landscape) {
    background-color: $color-txt;
  }

  @include media ($desktop) {
    background-color: $color-txt;
  }
}

.home {
  width: 100%;
  margin: 0;
  height: 590px;
  color: $color-txt;

  @include media ($tablet-landscape) {
    background: url(/images/monitors-crop.png) no-repeat center;
    background-size: cover;
    height: 650px;
  }

  @include media ($desktop) {
    background: url(/images/monitors-crop.png) no-repeat center;
    background-size: cover;
    height: 750px;
  }
}

.landingTxt {
  padding-top: 80px;
  text-align: center;

  @include media ($tablet-landscape) {
    padding-top: 100px;
    max-width: 55%;
  }

  @include media ($desktop) {
    padding-top: 120px;
    max-width: 55%;
  }

  .tagline {
    margin: 0 auto 30px;
    max-width: 95%;
    color: $color-dark-teal;
    font-weight: bold;

  }

  .landingP {
    font-family: $heading-stack;
    font-size: modular-scale(2, 0.7em);
    margin: 0 auto 35px;
    max-width: 75%;
    color: $color-txt;

    @include media ($tablet-landscape) {
      font-size: modular-scale(1);
    }

    @include media($desktop) {
      font-size: modular-scale(1);
      margin-bottom: 50px;
    }
  }
}

input:focus {
  outline: none;
}

.inputForm {
  //margin: auto;
  text-align: center;

  @include media($tablet-landscape) {
    max-width: 55%;
  }

  @include media($desktop) {
    max-width: 55%;
  }

  .emailInput {
    height: 50px;
    width: 275px;
    margin: 0 auto 19px auto;
    border-style: solid;
    border-width: 3px;
    border-color: $color-dark-green;
    color: $color-txt-light;
    font-family: $heading-stack;
    font-size: modular-scale(1);
    border-radius: 10px;
    padding: 5px 15px;

    @include media($lg-mobile) {
      font-size: modular-scale(1);
    }

    @include media ($tablet-portrait) {
      width: 368px;
      font-size: modular-scale(1);
    }

    @include media ($tablet-landscape) {
      width: 368px;
      font-size: modular-scale(1);
    }

    @include media ($desktop) {
      width: 520px;
      height: 65px;
      font-size: modular-scale(1);
      margin-bottom: 25px;
    }
  }

  .submitButton {
    height: 65px;
    width: 190px;
    background-color: $color-dark-green;
    color: $color-light;
    font-family: $heading-stack;
    font-size: modular-scale(2);
    border: none;
    border-radius: 10px;
    margin: 0 auto;

    @include media($lg-mobile-width) {
      font-size: modular-scale(1);
    }

    @include media($tablet-portrait) {
      font-size: modular-scale(1);
    }

    @include media($tablet-landscape) {
      font-size: modular-scale(1);
    }

    @include media($desktop) {
      font-size: modular-scale(1);
      width: 265px;
      height: 85px;
    }
  }
}
