$logo-height: 50px;

.body {
  color: $color-txt;
  @include span-columns(12);
}

.home {
  position: relative;
}

.background {
  background: url(/images/girl-train-cropped-2.jpg) no-repeat center;
  background-size: cover;
  width: 100%;
  margin: 0;
  height: 857.62px;
  opacity: .4;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.logo {
    display: inline-block;
    margin: 0.25em 0.5em;

    .logoImg {
        height: $logo-height;
        position: absolute;
        top: 0.25em;
        left: 0.5em;
        z-index: 2;
    }

    }

.landingTxt {
  position: absolute;
  top:0;
  left:0;
  z-index: 2;
  @include shift(5);
  @include span-columns(7);
  padding-top: 200px;

  .tagline {
    margin-bottom: 30px;
  }

  .landingP {
    @include span-columns(6 of 7);
    @include shift(0.5);
  }
}

.inputForm {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  @include shift(5.25);
  @include span-columns(6);
  padding-top: 400px;
  text-align: center;

  .emailInput {
    height: 40px;
    width: 500px;
    margin: 20px;
    border-style: solid;
    border-width: 3px;
    border-color: $color-borders;
    color: $color-borders;
    font-family: "Lato";
    font-size: modular-scale(1);
  }

  .submitButton {
    height: 55x;
    width: 250px;
    border-style: none;
    background-color: $color-contrast;
    color: $color-background-light;
    font-family: "Lato";
    font-size: modular-scale(3);
  }
}
