$logo-height: 50px;

.logo {


    .logoImg {
        height: $logo-height;
        position: absolute;
        top: 0.5em;
        left: 0.75em;
        z-index: 2;
    }

    }

.body {
  @include span-columns(12);
}

.home {
  background:
    url(/images/monitors-color.png) no-repeat center;
  background-size: cover;
  width: 100%;
  margin: 0;
  height: 800px;
  color: $color-background-light;
}

.landingTxt {
  padding-top: 200px;
  text-align: center;
  color: $color-background-light;

  .tagline {
    margin-bottom: 30px;
    @include shift(2);
    @include span-columns(8);
  }

  .landingP {
    margin-bottom: 50px;
    @include shift(3);
    @include span-columns(6);
  }
}

.inputForm {
  @include shift(3);
  @include span-columns(6);
  text-align: center;

  .emailInput {
    height: 40px;
    width: 400px;
    margin-bottom: 30px;
    border-style: solid;
    border-width: 3px;
    border-color: $color-contrast;
    color: $color-borders;
    font-family: "Lato";
    font-size: modular-scale(1);
    margin-right: 0;
  }

  .submitButton {
    height: 40px;
    width: 200px;
    border-style: solid;
    border-width: 3px;
    border-color: $color-contrast;
    background-color: $color-contrast;
    color: $color-background-light;
    font-family: "Lato";
    font-size: modular-scale(1);
    padding: 0;
    margin: 0;
  }
}
