.footer {
    background: $color-txt;
    color: $color-light;
    font-family: $heading-stack;
    padding-bottom: 1.0em;
}

.footer__copyright {
    font-size: 0.65em;
    margin: 0.5em 0;
    padding-top: 3em;
    text-align: center;

    .footer__ohio {
        filter: grayscale(100%);
        float: left;
        margin: 0.25em 0.5em 0.5em 0;
        width: 24px;
    }
}

.footer__logo {

    img {
        height: 36px;
    }
}

.footer__nav {

    list-style: none;

    li {
        display: inline-block;
    }

    a {
        color: $color-light;
        font-size: 1.0em;
        font-weight: bold;
        letter-spacing: 0.08em;
        padding: 0.75em 1.0em;
        text-decoration: none;
    }

    li a:hover {
        color: $color-green;
    }
}

.footer__sections {
    @include outer-container(100%);

    section {
        padding: 0.5em;
        padding-top: 1.0em;
        text-align: center;

        @include span-columns(12);

        @include media($tablet-portrait) {
            @include span-columns(4);
            @include omega(3n);
        }
        @include media ($tablet-landscape) {
            @include span-columns(4);
            @include omega(3n);
        }
        @include media ($desktop) {
            @include span-columns(4);
            @include omega(3n);
        }

        h2 {
            font-size: 2.0em;
            margin-bottom: 0.25em;
        }
    }
}

.footer__social {
    li {
        display: inline-block;
        margin: 0 0.5em;
    }

    svg {
        height: 32px;
        width: 32px;
    }
    a {
        fill: $color-light;
        padding: 0.75em 1.0em;
    }
    a:hover {
        fill: $color-green;
    }
}
