$color-nav-bg: #333;
$color-nav-txt: #eee;

$nav-height: 48px;

.header {

    @include linear-gradient(to top, $color-nav-bg, lighten($color-nav-bg, 7%));

    color: $color-nav-txt;
    width: 100%;
    
    .logo {
        display: inline-block;
        margin: 0.25em 0.5em;

        img {
            height: $nav-height;
        }
    }
    
    .nav {
        display: inline-block;
        height: $nav-height;
        text-align: right;
        vertical-align: top;

        a {
            color: $color-nav-txt;
            display: inline-block;
            height: $nav-height;
            padding: ($nav-height / 2) 1.0em;
            
            &:hover {
                background: lighten($color-nav-bg, 5%);
                color: lighten($color-nav-txt, 10%);
            }
        }
    }
}
