
$nav-height: 50px;
$logo-height: 42px;
$nav-transition: all 0.3s;

.nav {
    background-color: transparent;
    background-color: rgba(#fff, 0.25);
    //border-bottom: 1px solid #fff;
    font-family: $heading-stack;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.nav__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    list-style: none;
    float: right;
    margin-right: 1.0em;

    li {
        //border-right: 1px solid #fff;
        display: flex;
    }

    li a {
        display: block;
    }
}

.nav__item {

    a {
        color: $color-txt;
        font-size: 0.85em;
        font-weight: bold;
        letter-spacing: 0.08em;
        padding: 1.5em 1.0em;
        text-decoration: none;
        transition: $nav-transition;
    }

    a:hover {
        background-color: $color-green;
        color: $color-light;
        text-shadow: 1px 1px 1px darken($color-dark-green, 5%);
        transition: $forms-transition;
    }

    div {
        display: inline-block;
        height: 100%;
    }
}

.nav__logo {

    img {
        height: $logo-height;
        float: left;
        margin: 0.5em;
    }
}
